@{
  //  ViewData["Title"] = "About us";
}

@section breadcrumb
{
    <nav aria-label="breadcrum">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item active" aria-current="page">About us</li>
        </ol>
    </nav>
}

<h1>Welcome to About Us page</h1>

