
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content = width="device-width" />
    <title>Novi.Art</title>
</head>
<body>
    <p>This is the 'get all arts'-page of Novi.Art</p>
    <button>Click me</button>
</body>
</html>