@model Novi.Art.Models.ArtModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Item added to basket</h1>
<h3>verder met shoppen</h3>

<form method="post">
    <label asp-for="Title"></label>
    <input asp-for="Title" />
    <label asp-for="Artist"></label>
    <input asp-for="Artist" />
    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <label asp-for="Price"></label>
    <input asp-for="Price" />
    <label asp-for="HireFrom"></label>
    <input asp-for="HireFrom" />
    <label asp-for="HireTill"></label>
    <input asp-for="HireTill" />
    <label asp-for="Category"></label>
    <input asp-for="Category" />


</form>